/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/
@import 'mixins';

//////////////////////////////////////////////////
// GLOBAL
//////////////////////////////////////////////////

body {
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size:30px;
}

h2 {
  font-family: 'Linden Hill', serif;
  font-size:26px;
  margin-top: 0px;
}

h3 {
  font-family: 'Linden Hill', serif;
  font-size:22px;
}

a {
  color: $blue;
}
p, ul, ol, input {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
}

strong { 
  font-weight: 400;
  font-size: 16px;
}

input[type="email"]{
  width: 19em;
  margin-top: 20px;
  padding-left: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type="submit"] {
  background-color: $blue;
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  letter-spacing: 0.05em;
}

hr {
  margin-left: auto;
  margin-right: auto;
}

.longrule {
  width: 70%;
  height: 6px;
  border-top: solid 2px black;
  border-bottom: solid 2px gray;
}

.shortrule {
  width: 10em;
  height: 3px;
  border-top: solid 2px gray;
  border-bottom: none;
}

//////////////////////////////////////////////////
// STRUCTURE
//////////////////////////////////////////////////

.section { width: 100%; }
.container { width: 940px; margin: 0 auto; }
.detailcol { 
  width: 240px;
  margin: auto 35px;
  padding-top: 0px;
  float: left;
  img {
    width: 100%;
    margin-bottom:10px;
  }
}
@media (min-width: 750px) and (max-width:1000px) {
  .container { width: 740px; }
  .detailcol { width: 200px; margin: auto 15px; }
}
@media (max-width: 750px) {
  .mobile-padding { padding: 0 10px; }
  .container { width: 100%; margin: 0; }
  .detailcol { 
    width: 100%; 
    margin-left: 0px;
    margin-right: 0px;
    img { 
      width: 240px;
      margin: 0 auto;
      display: block;
    }
  }
}

#body-bg { 
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -999999;
}

#section1{
  @include emailForm(306px);
  padding: 30px 0 30px;
  #intro { 
    width: 420px;
    margin: 80px auto;
    padding: 20px 70px 40px;
    p {
      width: 360px;
      margin-left: auto;
      margin-right: auto;
    }
    .email-form { margin-left: auto; margin-right: auto; }
  }

  @media (max-width: 750px) {
    @include centeredEmailForm;
    @include emailForm(280px);
    padding:0px;

    #intro {
      width: 100%;
      padding: 1px 0 10px;
      margin:0px auto;
      p {
        width: 100%;
      }
    }
  }
  
}

#section2 {

  @include emailForm(376px);
  padding: 50px 0px;
  #explanation { 
    width: 40%; 
    margin-left: 2%;
    margin-right:8%;
    float: left; 
  }
  #letter-example { 
    width: 50%; 
    float: right; 
    img {
      display: block;
      width: 100%;
      margin-top: 20px;
    }
  }
  .email-form {
    float: left;
    margin-left: 2%;

    @media (max-width:1000px) {
      @include centeredEmailForm;
    }
  }

  @media (max-width: 750px) {
    @include centeredEmailForm;
    @include emailForm(280px);
    #explanation {
      width: 100%;
      margin-left: 0px;
    }
    #letter-example { display:none; }
  }
}

#section3 {
  @include emailForm(480px);

  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid $dark-grey;
  h2 { 
    text-align: center; 
    margin-top:0px;
  }
  .email-form {
    margin: 20px auto 0;
  }

  @media (max-width: 750px) {
    @include centeredEmailForm;
    @include emailForm(280px);
  }

}


footer {
  padding: 20px 0px;
}
  
//////////////////////////////////////////////////
// STYLE
//////////////////////////////////////////////////

#body-bg { 
  background-image: url('/images/background.jpg'); 
  background-size: cover; 
}

#section1 {

  #intro {
    background: white;
    text-align: center;
    border: solid 2px black;
    @media (max-width: 750px) {
      border: 0px;
    }
  }

}

#section2 {
  background-color: rgba(57,57,57,0.97);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  
  #explanation {
    color: white;
    .ital {
      font-style: italic;
      margin-top: 20px;
    }
  }
}

#section3 {
  background-color: rgba(255,255,255,0.97);
  border-top: 2px solid #999;

  h3 {
    text-align: center;
  }
}

footer {
  background-color: #000;
  color: $grey;
  text-align: center;
}

//////////////////////////////////////////////////
// CONFIRMATION
//////////////////////////////////////////////////

.confirmation {
  p { text-align: left; }
}
    

