/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/
@import 'mixins';

//////////////////////////////////////////////////
// GLOBAL
//////////////////////////////////////////////////

body {
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size:30px;
}

h2 {
  font-family: 'Linden Hill', serif;
  font-size:26px;
}

h3 {
  font-family: 'Linden Hill', serif;
  font-size:22px;
}

a {
  color: $blue;
}
p, ul, ol, input {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

strong { 
  font-weight: 400;
  font-size: 17px;
}

input[type="email"]{
  width: 19em;
  margin-top: 20px;
  padding-left: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type="submit"] {
  background-color: $blue;
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  letter-spacing: 0.05em;
}

hr {
  margin-left: auto;
  margin-right: auto;
}

.longrule {
  width: 20em;
  height: 6px;
  border-top: solid 2px black;
  border-bottom: solid 2px gray;
}

.shortrule {
  width: 10em;
  height: 3px;
  border-top: solid 2px gray;
  border-bottom: none;
}

//////////////////////////////////////////////////
// STRUCTURE
//////////////////////////////////////////////////

.section { width: 100%; }
.container { width: 940px; margin: 0 auto; }

#body-bg { 
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -999999;
}
.detailcol { 
  width: 240px;
  margin: auto 35px;
  padding-top: 0px;
  float: left;
}
#section1{
  @include emailForm(306px);
  padding: 30px 0 30px;
  #intro { 
    width: 420px;
    margin: 80px auto;
    padding: 20px 70px 40px;
    p {
      width: 360px;
      margin-left: auto;
      margin-right: auto;
    }
    .email-form { margin-left: auto; margin-right: auto; }
  }
  
}

#section2 {

  @include emailForm(376px);
  padding: 50px 0px;
  #explanation { 
    width: 380px; 
    margin-right:90px;
    float: left; 
  }
  #letter-example { 
    width: 470px; 
    float: left; 
  }
}

#section3 {
  @include emailForm(480px);

  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid $dark-grey;
  h2 { 
    text-align: center; 
    margin-top:0px;
  }
  .email-form {
    margin: 20px auto 0;
  }

}


footer {
  padding: 20px 0px;
}
  
//////////////////////////////////////////////////
// STYLE
//////////////////////////////////////////////////

#body-bg { 
  background-image: url('/images/background.jpg'); 
  background-size: cover; 
}

#section1 {

  #intro-box {
    background-color: white;
    border: 2px solid black;
  }
  #intro {
    background: white;
    text-align: center;
    border: solid 2px black;
  }

}

#section2 {
  background-color: rgba(57,57,57,0.97);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  
  #explanation {
    color: white;
    .ital {
      font-style: italic;
      margin-top: 20px;
    }
  }
}

#section3 {
  background-color: rgba(255,255,255,0.97);
  border-top: 2px solid #999;

  h3 {
    text-align: center;
  }
}

footer {
  background-color: #000;
  color: $grey;
  text-align: center;
}

//////////////////////////////////////////////////
// CONFIRMATION
//////////////////////////////////////////////////

.confirmation {
  p { text-align: left; }
}
    

