/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/
@import 'mixins';

//////////////////////////////////////////////////
// GLOBAL
//////////////////////////////////////////////////
body {
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 { 
  color: black; 
  font-family: 'Raleway', sans-serif;
  margin-top:0px;
  margin-bottom: 20px;
  font-size: 38px;
}

h2, h3 { font-family: 'Linden Hill', serif; }
h2 { font-size: 22px; margin:30px 0; }
h3 { font-size: 18px; }

p { 
  font-size: 18px;
  line-height:28px;

  margin-bottom: 30px; 
}
.strong-divider {
  margin:10px auto;
  width: 90%;
  height: 5px;
  background: none;
  border-top: 2px solid black;
  border-bottom: 1px solid $grey;
}

.light-divider {
  margin:20px auto;
  width: 70%;
  height: 5px;
  background: none;
  border-top: 1px solid $grey;
}

input[type="text"] {
  display: block;
  padding: 10px 0;
  width: 100%;
}

.button { 
  width: 100%;
  padding: 10px 0;
  background: $blue;
  text-transform: uppercase;
  color: white;
  font-weight: 400;

}

//////////////////////////////////////////////////
// STRUCTURE
//////////////////////////////////////////////////

.section { width: 100%; }
.container { width: 940px; margin: 0 auto; }

#section1{
  padding: 50px 0;
  #intro-box { 
    padding: 30px 0;
    width: 560px;
    margin: 40px auto;
    #intro { 
      width: 360px;
      margin: 0 auto;  
    }
  }
}

#section2 {
  #explanation { width: 50%; float: left; }
  #letter-example { width: 50%; float: left; }
}

#section3 {
  margin-bottom: 200px;
  .detailcol { 
    width: 240px;
    margin-right:40px;
    float: left;
  }
}

//////////////////////////////////////////////////
// STYLE
//////////////////////////////////////////////////

#section1 {
  background-image: url('/images/background.jpg');
  background-size:cover;

  #intro-box {
    background-color: white;
    border: 2px solid black;
  }
  #intro {
    text-align: center;
  }
}

#section2 {
  background: $dark-grey;
  #explanation {
    color: white;
  }

}

#section3 {
  background: white;
}

